In [8]:
import pandas as pd
import requests

url = "https://twelve-data1.p.rapidapi.com/time_series"

querystring = {"symbol":"AMZN","interval":"1day","outputsize":"1","format":"json"}

headers = {
	"X-RapidAPI-Key": "61d11dfc19msh8f1adb96bd2e05ep1030d1jsn073be1c1af0e",
	"X-RapidAPI-Host": "twelve-data1.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)


print(response.json())

{'meta': {'symbol': 'AMZN', 'interval': '1day', 'currency': 'USD', 'exchange_timezone': 'America/New_York', 'exchange': 'NASDAQ', 'mic_code': 'XNGS', 'type': 'Common Stock'}, 'values': [{'datetime': '2023-09-29', 'open': '127.81500', 'high': '129.14999', 'low': '126.32000', 'close': '127.26990', 'volume': '41381486'}], 'status': 'ok'}

In [10]:
import pandas as pd
import requests

url = "https://twelve-data1.p.rapidapi.com/time_series"

querystring = {"symbol":"AMZN","interval":"1day","outputsize":"1","format":"json"}

headers = {
	"X-RapidAPI-Key": "61d11dfc19msh8f1adb96bd2e05ep1030d1jsn073be1c1af0e",
	"X-RapidAPI-Host": "twelve-data1.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

dict = response.json()
dict

{'meta': {'symbol': 'AMZN',
  'interval': '1day',
  'currency': 'USD',
  'exchange_timezone': 'America/New_York',
  'exchange': 'NASDAQ',
  'mic_code': 'XNGS',
  'type': 'Common Stock'},
 'values': [{'datetime': '2023-09-29',
   'open': '127.81500',
   'high': '129.14999',
   'low': '126.32000',
   'close': '127.21810',
   'volume': '41436132'}],
 'status': 'ok'}

In [43]:
df1 = pd.DataFrame(dict['meta'], index = [0])
df2 = pd.DataFrame(dict['values'])
df3 = pd.concat([df1, df2], axis=1, ignore_index=False)

df3

,symbol,interval,currency,exchange_timezone,exchange,mic_code,type,datetime,open,high,low,close,volume
0,AMZN,1day,USD,America/New_York,NASDAQ,XNGS,Common Stock,2023-09-29,127.81500,129.14999,126.32000,127.21810,41436132